.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

h2 {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    border: 1px solid black;
    text-align: center;
    background-color: #9dd9f3;
}
.container {
    display: flex;
    margin-top: 10px;
}

.list-waypoints {
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
    width: 20%;
    height: 200px;
}

.list-weather {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

p.error {
    font-weight: bold;
    color: red;
}

.list-waypoints {
    margin-right: 50px;
    width: 30%;
}

.list-waypoints th {
    margin-top: 0;
}

.weather-section {
    margin-bottom: 50px;
}

.weather {
    border: 1px solid black;
    border-collapse: collapse;
    width: 70%;
}

.weather td {
    border: 1px solid black;
    padding: 2px;
}

h3.waypoint {
    margin-top: -3px;
}

h3.waypointData {
    margin-top: 0;
}
